doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")
		script(type='text/javascript', src='/javascripts/jquery.min.js')
		script(type='text/javascript', src='/javascripts/progress.js')
		link(rel='stylesheet', href='/stylesheets/progress.css')
	body
		div.delete
			div.cuerpo
				div.progressBarContainer
					div.progressBar